.main-vg {
    background: url('../Assets/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    padding-top: 29px;
    padding-bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-vg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
}

.pagination-vg {
    margin-top: 15px;
}

.pagination-vg p{
    font-size: 20px;
    background-color:rgb(170, 51, 106);
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 2px 2px 5px 2px;
  }

  .pagination-vg .previous{
    font-size: 21px;
    align-items: center;
    border-radius: 2px solid rgb(170, 51, 106);
    justify-content: space-between;
    width: 82px;
    height: 29px;
  }

  .pagination-vg .next{
    margin-left: 5px;
    margin-top: 4px;
    font-size: 21px;
    align-items: center;
    border-radius: 2px solid rgb(170, 51, 106);
    justify-content: space-between;
    width: 80px;
    height: 29px;
  }

  .pagination-vg .first{
    margin-right: 5px;
    margin-top: 4px;
    font-size: 21px;
    align-items: center;
    border-radius: 2px solid rgb(170, 51, 106);
    justify-content: start;
    height: 29px;
  }

  .pagination-vg .last{
    margin-left: 5px;
    margin-top: 4px;
    font-size: 21px;
    align-items: center;
    border-radius: 2px solid rgb(170, 51, 106);
    height: 29px;
  }

  .pagination-vg .show{
    margin-right: 5px;
    margin-top: 4px;
    font-size: 21px;
    align-items: center;
    border-radius: 2px solid rgb(170, 51, 106);
    height: 29px;
  }