.all {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: left;
    text-align: center;
    flex-direction: column;
    background: url('../../Components/Assets/background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


.gradovi {
    background-color: white;
    border: thin solid orange;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(255, 147, 0, 1);
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    background-image:
    linear-gradient(45deg, transparent 50%, orange 50%),
    linear-gradient(135deg, orange 50%, transparent 50%),
    linear-gradient(to right, black, black);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.heading-bg {
    color: orange;
    text-align: center;
    text-shadow: 3px 3px 5px black;
    padding: 15px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: transparent;
    backdrop-filter:brightness(30%);
    box-shadow: 0 0 12px rgba(255, 147, 0, 1);
    width: 290px;
    height: auto;
    margin: 50px;
    border-radius: 15px;
}

.card h2 {
    font-size: 15px;
    color: orange;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    height: 14px;
    margin-bottom: auto;
}

.card p {
    padding: 26px;
    min-height: 210px;
    color: white;
}

.card a {
    background-color: orange;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}

.card-image {
    background-color: orange;
    height: 180px;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 15px 15px;
}

.card:hover {
    background: transparent;
    backdrop-filter: brightness(10%);
    color: red;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
